#btns{
display: flex;
justify-content: space-around;
background: blueviolet;
}

button{
    background: #ffff00;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

#list {
  background-color: #73e973;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
