#container{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
background:#49a863;
border:2px solid rgb(12, 128, 16);
border-radius: 10px;

align-items: center;
}

button{
  
    background: yellow;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
   
}

.list {
 
  border: 2px solid rgb(0, 0, 0);
border-radius: 6px;
padding: 12px;
margin:5px;
background: #4CAF50;
height: 200px;
width: 200px;
}
#btns{
padding: 26px;
justify-content: center;

  }
  body{
    background:rgb(62, 223, 150)
  }