#container{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
background:#F4F4F4;
border:2px solid black;
border-radius: 10px;

align-items: center;
}

button{
  
    background: rgb(232, 232, 48);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

.list {
 
  border: 2px solid black;
border-radius: 6px;
padding: 12px;
margin:5px;
background: #4CAF50;
height: 200px;
width: 200px;
}
#btns{
   flex: 1;
padding: 26px;
  }
  body{
    background: C0B87A;
  }